.form {
  width: 100%;
  height: 40px;
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
  // .form__inp
  &__inp::placeholder {
    color: #fff;
  }
  &__inp {
    width: 360px;
    height: 40px;
    border: 1px solid rgba(52, 67, 69, 1);
    border-radius: 6px;
    padding: 0 12px;
    //background: rgba(52, 67, 69, 1);
    background: transparent;
    color: #fff;
    @media (max-width: 600px) {
      width: 280px;
    }
  }
}
