@import './nullStyle';
.wrapper {
  width: 100vw;
  height: 100vh;
  //background: rgb(52, 67, 69);
  //background: radial-gradient(
  //  circle,
  //  rgba(52, 67, 69, 1) 0%,
  //  rgba(19, 25, 25, 1) 100%
  //);
  background: linear-gradient(
    45deg,
    rgba(0, 80, 255, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  display: flex;
  align-items: center;
}
.container {
  width: 500px;
  height: 536px;
  margin: 0 auto;
  @media (max-width: 600px) {
    width: 95%;
    height: 100vh;
  }
}
.main {
  @media (max-width: 600px) {
    height: 600px;
  }
  height: 444px;
  box-shadow: 0 0 30px #fff5, inset 0 0 10px #fff5;
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form {
  width: 100%;
  height: 40px;
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
  // .form__inp
  &__inp::placeholder {
    color: #fff;
  }
  &__inp {
    width: 360px;
    height: 40px;
    border: 1px solid rgba(52, 67, 69, 1);
    border-radius: 6px;
    padding: 0 12px;
    //background: rgba(52, 67, 69, 1);
    background: transparent;
    color: #fff;
    @media (max-width: 600px) {
      width: 280px;
    }
  }
}

.required {
  border: 1px solid red;
}
.itemInp {
  width: 240px;
  border: none;
  box-shadow: 0 0 10px #c4ebff;
  border-radius: 8px;
  padding: 8px;
}

.emptyInp {
  animation: emptyInp 0.5s 1;
  box-shadow: 0 0 10px red;
}

@keyframes emptyInp {
  0% {
    transform: scale(1, 1);
    transform: rotate(0deg);
  }
  25% {
    transform: scale(1.2, 1.2);
    transform: rotate(4deg);
  }
  50% {
    transform: scale(1.5, 1.5);
    transform: rotate(-4deg);
  }
  100% {
    transform: scale(1, 1);
    transform: rotate(0deg);
  }
}
.deleteEffect {
  animation: deleteEffect 0.5s forwards;
  //transition: 0.5s ease-in-out;
}

@keyframes deleteEffect {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

span[class='empty'] {
  text-align: center;
  font-size: 25px;
  color: #fff;
  width: 100%;
}

@keyframes textDecor {
  0% {
    width: 0%;
    height: 2px;
  }
  100% {
    width: 85%;
    height: 2px;
  }
}

.active--inp {
  box-shadow: inset 0 0 5px rgba(36, 36, 36, 0.829) !important;
  animation: activeInp 0.7s forwards;
}
@keyframes activeInp {
  0% {
    //min-height: 58px;
    margin: 0;
  }
  100% {
    //min-height: 58px;
    margin: 10px 0;
  }
}
